<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibarra.descobrindoaspalavras">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.tutorial.TutorialActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".ui.rotatescreen.RotateScreenActivity"
            android:theme="@style/WhiteBoardTheme"/>
        <activity android:name=".ui.tutorialmel.MelActivitiesActivity"
            android:screenOrientation="landscape"
            android:theme="@style/WhiteBoardTheme"/>

        <activity android:name=".ui.tutorialmel.MelAreaActivity"
            android:screenOrientation="landscape"
            android:theme="@style/WhiteBoardTheme"/>

        <activity android:name=".ui.tutorialmel.BadgeAreaActivity"
            android:screenOrientation="landscape"
            android:theme="@style/WhiteBoardTheme"/>

        <activity android:name="com.ibarra.descobrindoaspalavras.ui.tutorialboard.TutorialBoardActivity"
            android:screenOrientation="landscape"
            android:theme="@style/WhiteBoardTheme"/>
        <activity android:name="com.ibarra.descobrindoaspalavras.ui.whiteboard.WhiteBoardActivity"
            android:screenOrientation="landscape"
            android:theme="@style/WhiteBoardTheme"/>
        <activity android:name=".ui.prewhiteboard.PreWhiteBoardStep1Activity"
            android:screenOrientation="landscape"
            android:theme="@style/WhiteBoardTheme"/>
        <activity android:name=".ui.prewhiteboard.PreWhiteBoardStep2Activity"
            android:screenOrientation="landscape"
            android:theme="@style/WhiteBoardTheme"/>
        <activity android:name=".ui.congratulations.CongratulationsActivity"
            android:screenOrientation="landscape"
            android:theme="@style/WhiteBoardTheme"/>
        <activity android:name=".ui.congratulations.BadgeUnlockedActivity"
            android:screenOrientation="landscape"
            android:theme="@style/WhiteBoardTheme"/>
        <activity android:name=".ui.congratulations.PrizeUnlockedActivity"
            android:screenOrientation="landscape"
            android:theme="@style/WhiteBoardTheme"/>
        <activity android:name=".ui.tutorialboard.OnboardingPenActivity"
            android:screenOrientation="landscape"
            android:theme="@style/WhiteBoardTheme"/>
        <activity android:name=".ui.tutorialboard.OnboardingTutorialWhiteboardActivity"
            android:screenOrientation="landscape"
            android:theme="@style/WhiteBoardTheme"/>
        <activity android:name=".ui.whiteboard.OnboardingPhraseActivity"
            android:screenOrientation="landscape"
            android:theme="@style/WhiteBoardTheme"/>
        <activity android:name=".HorizontalCanvasActivity"
            android:screenOrientation="landscape"
            android:theme="@style/WhiteBoardTheme"/>
    </application>

</manifest>